.container {
  width: 100vw;
  min-height: 100%;
}

.qualifications {
  padding: 2rem;
  background-color: var(--qualifications-bg-color);
  color: var(--qualifications-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--qualifications-text-color);
}

.certifications {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.certificationCard {
  background-color: var(--qualifications-card-bg-color);
  border: 1px solid var(--qualifications-card-border-color);
  border-radius: 12px;
  padding: 1.5rem;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  color: var(--qualifications-text-color);
  margin-bottom: 0.5rem;
}

.issuer,
.date,
.description {
  color: var(--qualifications-muted-text-color);
  margin-bottom: 0.5rem;
}

.issuer {
  font-weight: bold;
}

.date {
  font-style: italic;
}
