.container {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color: var(--main-page-background-color); */
  background: black;
}
/* ----------------------------- */
.containerBackground {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  height: 90%;
  width: 100%;
  z-index: 1;
}

.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 1rem 1rem 8rem 1rem;
  background: var(--main-page-gradient);
  background-size: 400%;
  width: calc(100% + 0px);
  height: calc(100% + 0px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::after {
  filter: blur(4rem);
}

/* ----------------- */
/* background points effect */
.el {
  position: absolute;
  background: var(--el-gradient);
  width: 100%;
  height: 100%;
  mask: var(--mask-gradient);
  mask-composite: intersect;
  animation: flicker 20s infinite linear;
  z-index: -1;
  border-radius: 1rem 1rem 8rem 1rem;
}

.elA {
  position: absolute;
  background: var(--elA-gradient);
  width: 100%;
  height: 100%;
  mask: var(--mask-gradient);
  mask-composite: intersect;
  animation: flicker 20s infinite linear;
  border-radius: 1rem 1rem 8rem 1rem;
}

@keyframes flicker {
  to {
    mask-position: 50% 50%, 0 50%;
  }
}
/* ------------container 01------------------------------------------------------------ */
.container1 {
  display: flex;
  margin: 1rem 0rem 0rem 0.4rem;
  width: 45%;
  height: 45%;
  min-width: 150px;
  z-index: 2;
  border-radius: 1rem;
  background: url("/g01a.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: 0.1s ease, 0.1s ease, 0.1s ease;
  border: 1px solid var(--container1-border-color);
  border-radius: 1rem 5rem 0rem 5rem;
  box-shadow: var(--container1-box-shadow);
  animation: glow 2s infinite;
}
.child1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--child-text-color);
}

.child1A {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child1ALink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid gold;
  font-size: 2rem;
  background: rgb(0, 0, 0, 0.6);
  color: white;
  transition: all 0.3s ease;
  padding: 1rem;
  text-align: center;
}

.child1ALink:hover {
  background: linear-gradient(rgba(15, 15, 15, 0.3), rgba(46, 38, 1, 0.3));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  color: gold;
}

.child1ALink:focus {
  background: linear-gradient(#00000033, #4a380236), url("/g02.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  color: white;
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) inset;
}

/* -------------- */

.child1B {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  height: 70%;
}

.child1BLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #ffd7004d;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 25%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.8);
}

.child1BLink:hover {
  background: linear-gradient(rgba(15, 15, 15, 0.9), rgba(46, 38, 1, 0.9));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid gold;
  box-shadow: 0 0 15px #ffd700e6;
  color: gold;
  height: 100%;
}

.child1BLink:focus {
  background: black;
  border-radius: 1rem;
  color: white;
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) inset;
}

/* ----------------- */

@media (max-width: 850px) {
  .container1 {
    border-radius: 1rem;
  }
  .child1ALink {
    font-size: 1.5rem;
    padding: 0.7rem;
  }
  .child1B {
    flex-direction: column;
  }

  .child1BLink {
    width: 100%;
    height: 25%;
  }
  .child1BLink:hover {
    width: 100%;
    height: 25%;
  }
}

/* ------------container 02-------------------------------------------------



----------- */

.container2 {
  display: flex;
  margin: 0rem 0rem 1rem 0.4rem;
  width: 30%;
  height: 45%;
  min-width: 150px;
  z-index: 2;
  background: rgba(0, 0, 0, 1);
  overflow: hidden;
  transition: 0.1s ease, 0.1s ease, 0.1s ease;
  border: 1px solid var(--container1-border-color);
  border-radius: 1rem 0rem 5rem 2rem;
  box-shadow: var(--container1-box-shadow);
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {
    border-color: #ffcc00;
    box-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ff9900;
  }
  50% {
    border-color: #ffd700;
    box-shadow: 0 0 15px #ffd700, 0 0 25px #ffd700, 0 0 35px #ffcc00;
  }
  100% {
    border-color: #ffcc00;
    box-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ff9900;
  }
}

.child2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: var(--child-text-color);
  background: linear-gradient(rgba(15, 15, 15, 0.8), rgba(46, 38, 1, 0.8));
  /* url("/MainPage/projectsMain.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.child2A,
.child2B,
.child2C {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 30%;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 1px solid gold;
  background-color: rgba(192, 192, 192, 0.1);
  box-shadow: 0 0 10px #ffd7004d;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 1rem 0rem 5rem 2rem;
}

.child2A:hover,
.child2B:hover,
.child2C:hover {
  background: black;
  border: 1px solid gold;
  box-shadow: 0 0 15px #ffd700e6;
  border-radius: 1rem;
  color: gold;
}

.child2A:focus,
.child2B:focus,
.child2C:focus {
  border-radius: 1rem;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) inset;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 1rem 1rem;
  width: 40%;
  height: 70%;
  min-width: 150px;
  z-index: 2;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.1s ease, 0.1s ease, 0.1s ease;
  border: 1px solid var(--container1-border-color);
  border-radius: 60% 5% 60% 5%;
  box-shadow: var(--container1-box-shadow);
  animation: glow 2s infinite;
  background: rgba(0, 0, 0);
  transition: all 0.3s ease;
}

/* .container3:hover {
  border-radius: 50% 10% 50% 10%;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
  transform: scale(1.05);
  background: rgba(255, 217, 0, 0.4);
} */

.child3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  color: white;
  font-size: 0.8rem;
  transition: all 0.5s ease;
  background: linear-gradient(
    rgb(255, 255, 255),
    rgb(101, 82, 5),
    rgb(0, 0, 0)
  );
}

.child3:hover {
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(
    rgb(255, 255, 255),
    rgb(212, 195, 127),
    rgb(0, 0, 0)
  );
  transform: scale(1.1);
}

.child4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  color: white;
  font-size: 0.8rem;
  transition: all 0.5s ease;
  background: linear-gradient(
    rgb(0, 0, 0),
    rgb(101, 82, 5),
    rgb(255, 255, 255)
  );
}

.child4:hover {
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(
    rgb(0, 0, 0),
    rgb(212, 195, 127),
    rgb(255, 255, 255)
  );
  transform: scale(1.1);
}
