/* styles.css */
.container{
  background: white;
}
.nav {
    position: fixed;
    bottom: 10px;
    right: 30px;
    background: rgb(192,192,70) ;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition:  0.3s ease, transform 0.3s ease;
    z-index: 100;
    opacity: 0.4;
  }
  
  .nav:hover {
    opacity: 1;
    background:rgb(192,192,70) ;
    transform: scale(1.05);
  }
  
  @media (max-width: 700px) {
.nav{
  font-size: 0.5rem;
  right: 40px;
  bottom: 80px;
}
}
