/* LangBox.module.css */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem; 
    height: 4rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-color: #e0c558; 
    z-index: 30; 
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
    transition: all 0.3s ease; 
    
}


.option {
    padding: 0.2rem;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s ease; 
}

.option:hover, .option:focus {
    background-color: #5c5703; 
    outline: none;
}

.option:active {
    background-color: #7d8f04; 
}