@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Variables */
:root {
  /* globals */
  --nav-bg-color: #c0c046;
  --nav-text-color: white;
  --swiper-button-color: #ffffff;
  --swiper-button-bg: #00000080;
  --swiper-button-bg-hover: #000000cc;
  --swiper-progress-fill: #d5eb0f;
  --swiper-bullet-bg: #d0f370;
  --swiper-bullet-active-bg: #8ba013;

  /* ------------------- */
  --main-page-background-color: #0d1117;
  --main-page-gradient: linear-gradient(
    45deg,
    #ffcc00c5,
    #ff9900b3,
    #d4af37b3,
    #c5b358,
    #d2c102bb,
    #b8870b62,
    #78600275,
    #aa6c3982,
    #e1c06e7b
  );
  --el-gradient: conic-gradient(
    from 180deg at 50% 70%,
    #fafafa 0deg,
    #eec32d 72deg,
    #ec4b4b 144deg,
    #709ab9 216deg,
    #4dffbf 288deg,
    #fafafa 1turn
  );

  --elA-gradient: conic-gradient(
    from 180deg at 50% 70%,
    hsla(0, 0%, 98%, 1) 0deg,
    #eec32d 72deg,
    #ec4b4b 144deg,
    #709ab9 216deg,
    #4dffbf 288deg,
    hsla(0, 0%, 98%, 1) 1turn
  );

  --mask-gradient: radial-gradient(
        circle at 50% 50%,
        white 2px,
        transparent 2.5px
      )
      50% 50% / 20px 20px,
    url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px
      256px;

  --container1-border-color: gold;
  --container1-box-shadow: 0 0 20px #ffd70080;
  /* ------------- */
  --child-text-color: #ffffff;
  --primary-glow: #ffcc00cc;
  --secondary-glow: #ff990099;
  --gradient-colors: linear-gradient(
    45deg,
    #ffcc00,
    #ff9900,
    #d4af37,
    #b8860b,
    #aa6c39
  );
  /* ---------------- */
  /* mainPage */
  --background-color: #000000;
  --child-text-color: #ffffffb4;
  --hover-bg-color: #caab0f;
  --hover-text-color: #ffffffd3;
  --hover-shadow-color: #0000002b;
  --child-project-bg: #0000001a;
  --child-hover-font-size: 1rem;
  --child-hover-shadow: 0 5px 15px #00000033;
  --box-shadow: 0 2px 5px #0000001a;
  --gradient1: linear-gradient(120deg, #000000 0%, #c0c046 100%);
  --gradient2: linear-gradient(210deg, #000000 0%, #eed13f 100%);
  --gradient3: linear-gradient(70deg, #000000 0%, #ffd700 100%);
  --gradient4: linear-gradient(300deg, #000000 0%, #e5be01 100%);

  /* contactPage */
  --contact-bg: #000000;
  --contact-container-bg: #181818;
  --contact-header-color: #d4af37;
  --contact-text-color: #c0c0c0;
  --contact-link-color: #ffd700;
  --contact-link-hover: #daa520;
  --contact-map-bg: #c0c0c01a;

  /* Qualifications Page Colors */
  --qualifications-bg-color: #1a1a1a; /* Dark background */
  --qualifications-text-color: #f5c518; /* Gold text */
  --qualifications-card-bg-color: #333; /* Darker background for cards */
  --qualifications-card-border-color: #f5c518; /* Gold border */
  --qualifications-muted-text-color: #ccc; /* Light grey text */

  /* My Projects Page Colors - Dark Mode */
  --projects-title-color: #ffd700; /* Gold */
  --projects-preview-bg-color: #333333; /* Dark grey */
  --projects-preview-border-color: #20b2aa; /* Light Sea Green (Teal) */
  --projects-preview-text-color: #d3d3d3; /* Light grey (Silver) */

  /* Colors for the Project Page */
  --background-color: #1a1a1a; /* Dark background */
  --title-color: #ffd700; /* Gold */
  --input-border-color: #4682b4; /* Steel Blue */
  --button-bg-color: #4682b4; /* Steel Blue */
  --button-hover-bg-color: #5a9bd4; /* Lighter Steel Blue */
  --text-color: #d3d3d3; /* Light Grey */
  --button-text-color: #ffffff; /* White */

  /* MySlide */
  --container-bg-gradient: linear-gradient(120deg, #000000 0%, #c0c046 100%);
  --swiper-slide-bg-gradient: linear-gradient(210deg, #ffffff 0%, #eed13f 100%);
  --swiper-slide-text-h-color: #c0c046;
  --swiper-slide-text-h-bg: #000000ad;
  --swiper-slide-text-p-color: #62682e;
  --swiper-slide-text-p-color-small: #104403;

  /* FOOTER */
  --background-color-goldenrod: goldenrod;
  --color-goldenrod-dark: #daa520;
  --color-goldenrod-light: #ffd700;
  --text-shadow-dark: #0000004d;
  --text-shadow-light: #00000066;
  --infoA-background: #6e6e21;
  --infoA-color: white;
  --box-shadow-initial: 0 4px 6px #0000001a;
  --box-shadow-hover: 0 10px 15px #00000033;
  --box-shadow-active: 0 5px 10px #00000033;

  /* ABOUT ME */

  --profile-container-bg: #232e06;
  --swiper-slide1-bg: #ffd900b3; /* Gold */
  --swiper-slide2-bg: #d1ae31b3; /* Dark Gold */
  --swiper-slide3-bg: #ffb700b3; /* Bright Gold */
  --info-h1-color: #444;
  --info-h1-text-shadow: #0000004d;

  /* BMI Calculator Colors */
  --bmi-container-bg: #232e06; /* Dark background */
  --bmi-title-color: #ffffff; /* White text */
  --bmi-label-color: #ffffff; /* White text */
  --bmi-input-bg: #181818; /* Darker background for input */
  --bmi-input-border: #c0c046; /* Yellow border */
  --bmi-input-text: #c0c0c0; /* Light grey text */
  --bmi-button-bg: #c0c046; /* Yellow button */
  --bmi-button-text: #000000; /* Black text on button */
  --bmi-button-hover-bg: #ffd700; /* Lighter yellow button on hover */
  --bmi-box-shadow: 0 2px 5px #0000001a; /* Box shadow */
  --bmi-box-shadow-hover: 0 10px 15px #00000033; /* Box shadow on hover */
  --bmi-result-text: #c0c0c0; /* Light grey result text */
  --bmi-result-value: #ffffff; /* White result value */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

Image {
  width: auto;
  height: auto;
}

/* Main Navigation Button */
.nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  top: 15px;
  right: 20px;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  z-index: 100;
  opacity: 0.8;
  overflow: hidden;
}

/* Hover State */
.nav:hover {
  opacity: 1;
  transform: scale(1.1);
  background: linear-gradient(135deg, #928dab, #746fa3);
  box-shadow: 0 10px 25px rgba(146, 141, 171, 0.6);
  cursor: pointer;
}

/* Active State */
.nav:active {
  transform: scale(0.95);
  background: linear-gradient(135deg, #746fa3, #928dab);
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Text Glow Effect */
.nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 10%,
    transparent 70%
  );
  opacity: 0.5;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scale(1.2);
  z-index: -1;
}

.nav:hover::after {
  opacity: 1;
  transform: scale(1.5);
}

/* Responsive Design */
@media (max-width: 700px) {
  .nav {
    height: 40px;
    width: 120px;
    font-size: 0.6rem;
    top: 10px;
    right: 15px;
  }
}

@media (max-width: 375px) {
  .nav {
    height: 35px;
    width: 100px;
    font-size: 0.7rem;
    top: 10px;
    right: 10px;
  }
}

/* Swipe Navigation Button */
.swiper-button-next,
.swiper-button-prev {
  color: var(--swiper-button-color) !important;
  background-color: var(--swiper-button-bg) !important;
  padding: 1px !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: background-color 0.3s ease-in-out !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--swiper-button-bg-hover) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}

.swiper-pagination-progressbar-fill {
  background-color: var(--swiper-progress-fill) !important;
}

.swiper-pagination-bullet {
  background-color: var(--swiper-bullet-bg) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--swiper-bullet-active-bg) !important;
}
