.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--contact-bg);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  width: 100%;
  background-color: var(--contact-container-bg);
  box-shadow: var(--box-shadow);
  padding: 4rem;
  border-radius: 0.5rem;
}

.section {
  width: 100%;
}

.sectionHeader {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--contact-header-color);
}

.p {
  font-size: 1rem;
  color: var(--contact-text-color);
  margin: 0.5rem 0;
}

.a {
  color: var(--contact-link-color);
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
  color: var(--contact-link-hover);
}

.mapContainer {
  margin-top: 2rem;
  width: 100%;
  height: 300px;
  background-color: var(--contact-map-bg);
}

.map {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
}
