/* ProfileComponent.module.css */
.profileContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--profile-container-bg);
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.swiperSlide,
.swiperSlide1,
.swiperSlide2,
.swiperSlide3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.swiperSlide1 {
  background: var(--swiper-slide1-bg);
}

.swiperSlide2 {
  background: var(--swiper-slide2-bg);
}

.swiperSlide3 {
  background: var(--swiper-slide3-bg);
}

.infoH1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--info-h1-color);
  text-shadow: 2px 2px 4px var(--info-h1-text-shadow);
  animation: fadeIn 2s ease-in-out;
  padding: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .imageSlider {
    width: 100vw;
  }
  .infoH1 {
    font-size: 2rem;
  }
}
