.container {
    height: 100vh;
    width: 100%;
  }

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiperSlide {
    position: relative;
  }

  .swiperSlideText {
    position: absolute;
    top: 0;
    left: 1;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    width: 49.5%;
    height: 100vh;
    min-height: 200px;
  }

  .swiperSlideTextRight {
    position: absolute;
    top: 0;
    left: 0;
    right: 1;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    width: 51.5%;
    height: 100vh;
  }

  .swiperSlideTextP { 
    font-size: 1.5rem;
    line-height: 1.6;
    color: #EFEFEF;
    padding: 1rem;
    overflow:hidden;
}

.swiperSlideTextSpan {
    font-size: 2rem;
    font-weight: bold; 
    color: rgb(192,192,70); 
   
}
  
  .swiperSlideImg {
    width: 100%;
    height: 100%;  
  }


  @media (max-width: 1024px) {

    .container{
      height: 75vh;
    }
    .swiperSlideTextP{
      font-size: 1.2rem;
    }
    .swiperSlideTextSpan{
      font-size: 1rem;
    }
}

@media (max-width: 600px) {

  .container{
    height: 50vh;
  }
  .swiperSlideTextP{
    font-size: 0.7rem;
  }
  .swiperSlideTextSpan{
    font-size: 1rem;
  }
}